.wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
header {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    background-color: black;
    color: white;
    padding-left: 10px;
}
.boid {
    font-weight: bold;

}
/* Style the tab */
.tab {
    overflow: hidden;
  }
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
  }
  .certificate_heading {
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
  }
  .tablinks::after {
    content: '';
    display: block;
    width: 0%;
    height: 6px;
    background: #DBE0E3;
    transition: width 0.4s;
}

.tablinks:hover::after {
    width: 100%;
}

  .tabcontent {
    margin-top: 10px;
    margin-left: 20px;
    display: none;
    width: 95%;
    background-color: white;
    color: #000;
   margin-top: 40px;

  }
  .desc_Course {
    max-width: 80%;
    font-size: 15px;
  }
  .flex_row-between {
    margin: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .flex_row-between button {
    border: none;
    background-color: #983DE7;
    color: white;
    height: 40px;
  }
  .flex_row-between .explore_btn {
    background-color: transparent;
    color: #000;
    border: 2px solid #000;
    font-weight: bold;
  }
  .card-title {
    display: flex;
    justify-content: end;
  }
  .certificate_list {
    display: flex;
    justify-content: space-around;
  }
  .card_boid {
    font-weight: bold;
  }
  .col i {
    color: gold;
  }
.card-body .container {
  border-top: 4px solid blue;
  padding-top: 10px;
}
.bi-three-dots-vertical  {
  position: absolute;
  top: 10px ;
  right: 10px;
  background-color: white;
  width: 25px;
  height: 25px;
  text-align: center;
}
.card {
  position: relative;

}
.bi-alarm-fill , .bi-people-fill {
font-size: 50px;
}
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.beta {
  background-color: #DBE0E3;
  color: #000;
  padding: 0 10px;
}
.col-md-8 {
  font-size: 16px;
}
.min_text {
  font-size: 12px;
}